.app {
  background-color: #f7f7f7;

  &--main {
    height: calc(100vh - 60px);
    padding: 0 31px;
    display: flex;
    flex-flow: column nowrap;
  }
}

body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}